.header{

    position: relative;
    width:100vw;
  display:flex;
  
  }

.topleft {
    position: absolute;
    top: 1 ;
    left: 1 ;
    font-size: 18px;
    margin-right: 700vh;
  }
  
  .logo
  {
    max-height: 110px;
  }
  /* .searchForm{
    display: flex;
    margin:auto;
    margin: auto;
  } */
  /* .search
  {
    display: block;
     margin-left: 40%;
    margin-right: 40%;
    padding: 15px 40px;
    /* margin-top: -5%;
  } */

/* 
  .img{
    height :20px;
    padding: 10px;
    img {
      width:100%;
      height:100%;
  }
    
  }
   */ 