<app-header></app-header>

<div class="container">
    <div class="title">login</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          
          
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" required>
        
        </div>
          <div class="button">
            <input type="submit"  value="login" >
          </div>
          <div class="container signin">
            <p>Not have an account? <a href="/register">register</a></p>
             
            </div>
            
      
       
    </div>
    <div>
    <a class="inline-block pl-2 hover:text-white" href="/">My blogs © 2023</a>
    </div>
    <footer>
      
      <p><a href="mailto:helpblog@Myblog.com">helpblog@Myblog.com</a></p>
      <a class="inline-block pl-2 hover:text-white" href="/">My blogs © 2023</a>
    </footer>
   <script>
      function auth()
      var email =document.getElementById("email").value;
      var password =document.getElementById("password").value;
      if(email=='admin@gmail.com'&& password =="admin123"){
        window.location.assign("/home");
        alert("login successfull");

      }
      else {
        alert("invalid information ");
        return;
      }
    </script>
   