
<textarea id="full-featured">
    <p><img style="display: block; margin-left: auto; margin-right: auto;" title="Tiny Logo" src="https://www.tiny.cloud/docs/images/logos/android-chrome-256x256.png" alt="TinyMCE Logo" width="128" height="128" /></p>
    
  </textarea>
  
  <div class="add-post-content">
    <div class="container">
      <div>
        <h3 class="new-post-title">Create New Post</h3>
      </div>
      <hr>
      <!-- <form [formGroup]="addPostForm"(ngSubmit)="addPost()"> -->
        <div class="form-group">
            
          <label class="post-title">Title</label>
          <!-- <input type="text"  placeholder="Title" [(ngModel)]="post.title" formControlName="title"> -->
        </div>
        <div class="form-group">
          <label class="post-content">Body</label>
          <!-- <editor [(ngModel)]="post.content" formControlName="body" [init]="{plugins: 'link'}"></editor> -->
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      <!-- </form > -->
    </div>
  </div>